<div class="container body-content">

    <h1>@ViewBag.title</h1>
</div>

<center> Number of Available Jobs: @ViewBag.jobs.Count</center>


    @foreach (Job job in ViewBag.jobs)
    {
        <table class="job-listing">
            <tr>
                <td>Id</td>
                <td>@job.Id</td>
            </tr>
            <br />
            <tr>
                <td>Name</td>
                <td>@job.Name</td>
            </tr>

            <tr>
                <td>Employer</td>
                <td>@job.Employer</td>
            </tr>

            <tr>
                <td>Location</td>
                <td>@job.Location</td>
            </tr>

            <tr>
                <td>Position Type</td>
                <td>@job.PositionType</td>
            </tr>

            <tr>
                <td>Core Competency</td>
                <td>@job.CoreCompetency</td>
            </tr>
        </table>
    }



